.header {
  display: flex;
  margin: auto;
  width: 100%;
  background-color: #fff;
  height: 4.5rem;
  
}
.title {
  font-size: 0.6em;
  font-family:sans-serif;
  text-decoration: none;
  color:#444;
  padding-left: 15px;
}
.logo {
  display: flex;
  align-items: center;
  margin-left:3rem;
}
.modal{
  border-top: 1px solid #d6d6d6;
  border-bottom: solid 3px #4696e8;
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}
.modal > button {
  padding :1rem 50px;
  border-left: 1px solid #e5e5e5;
  border-top: none;
  border-right: none;
  border-bottom: none;
  font-size: 1rem;
  font-weight: bold;
  width: 300px;
  text-align: center;
  background-color:white;
  color:#444;
  cursor:pointer;
  font-family:sans-serif;
}
.modal > button:last-child {
  border-right: 1px solid #e5e5e5;
  font-family:sans-serif;
}
.img {
  width: 48px;
}
